In [86]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics

In [126]:
df_train = pd.read_csv("C:/Users/57314/Desktop/DIPLOMADO/Price_apartment/datasets/train.csv")

In [136]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25660 entries, 0 to 25659
Data columns (total 12 columns):
Id                        25660 non-null int64
pais                      25660 non-null object
provincia_departamento    25660 non-null object
ciudad                    25660 non-null object
property_type             25660 non-null object
operation_type            25660 non-null object
rooms                     25660 non-null float64
bedrooms                  25660 non-null float64
bathrooms                 25660 non-null float64
surface_total             25660 non-null float64
currency                  25660 non-null object
price                     25660 non-null float64
dtypes: float64(5), int64(1), object(6)
memory usage: 2.3+ MB

## Remove columns: 
<code>Id<code>, <code>currency<code>, <code>property_type<code> and <code>operation_type<code>

In [137]:
df_t = df_train.drop(["Id", "currency", "property_type", "operation_type"], axis = 1)
df_t

,pais,provincia_departamento,ciudad,rooms,bedrooms,bathrooms,surface_total,price
0,Argentina,Capital Federal,Villa Crespo,2.0,1.0,1.0,37.0,85000.0
1,Argentina,Capital Federal,Palermo,6.0,4.0,4.0,300.0,1590000.0
2,Colombia,Atlántico,Barranquilla,3.0,3.0,3.0,95.0,85329.0
3,Colombia,Valle del Cauca,Cali,3.0,3.0,1.0,60.0,22846.0
4,Argentina,Capital Federal,Balvanera,3.0,2.0,1.0,45.0,80000.0
...,...,...,...,...,...,...,...,...
25655,Colombia,Antioquia,Bello,3.0,3.0,2.0,61.0,41288.0
25656,Argentina,Capital Federal,Caballito,2.0,1.0,1.0,40.0,85000.0
25657,Argentina,Capital Federal,Villa del Parque,2.0,1.0,1.0,61.0,185700.0
25658,Argentina,Capital Federal,San Cristobal,3.0,2.0,1.0,53.0,120000.0
25659,Argentina,Buenos Aires Costa Atlántica,Mar del Plata,2.0,1.0,1.0,45.0,63000.0

## Merge:
<code>provincia_departamento<code> and <code>ciudad<code>

In [85]:
df_t[df_t["provincia_departamento"] == "Cundinamarca"]["ciudad"].unique()

array(['Bogotá D.C', 'Gachancipá', 'Funza', 'Chía', 'Madrid', 'Cabrera',
       'Ricaurte', 'Soacha', 'Cajicá', 'Zipaquirá', 'Mosquera', 'La Vega',
       'Agua de Dios', 'Tabio', 'Girardot', 'La Calera', 'Cota', 'Sopó',
       'Tocancipá', 'Fusagasugá', 'Anapoima'], dtype=object)

## Add a dataset <code>interactions<code>

In [150]:
interactions = df_train['provincia_departamento'] + "_" + df_train['ciudad']
interactions

0                      Capital Federal_Villa Crespo
1                           Capital Federal_Palermo
2                            Atlántico_Barranquilla
3                              Valle del Cauca_Cali
4                         Capital Federal_Balvanera
                            ...
25655                               Antioquia_Bello
25656                     Capital Federal_Caballito
25657              Capital Federal_Villa del Parque
25658                 Capital Federal_San Cristobal
25659    Buenos Aires Costa Atlántica_Mar del Plata
Length: 25660, dtype: object

In [152]:
data_interac = df_t.assign(prov_ciudad=interactions)
data_interac["prov_ciudad"].value_counts()

Cundinamarca_Bogotá D.C                       3131
Santa Fe_Rosario                              1797
Buenos Aires Costa Atlántica_Mar del Plata    1725
Valle del Cauca_Cali                          1687
Atlántico_Barranquilla                        1410
                                              ...
Río Negro_Allen                                  1
Río Negro_General Fernández Oro                  1
Antioquia_Barbosa                                1
Córdoba_Pueblo Nuevo                             1
Córdoba_Villa María                              1
Name: prov_ciudad, Length: 250, dtype: int64

In [189]:
bog = data_interac[data_interac["prov_ciudad"].str.match('^Cun.*')== True]
bog["prov_ciudad"].unique()

array(['Cundinamarca_Bogotá D.C', 'Cundinamarca_Gachancipá',
       'Cundinamarca_Funza', 'Cundinamarca_Chía', 'Cundinamarca_Madrid',
       'Cundinamarca_Cabrera', 'Cundinamarca_Ricaurte',
       'Cundinamarca_Soacha', 'Cundinamarca_Cajicá',
       'Cundinamarca_Zipaquirá', 'Cundinamarca_Mosquera',
       'Cundinamarca_La Vega', 'Cundinamarca_Agua de Dios',
       'Cundinamarca_Tabio', 'Cundinamarca_Girardot',
       'Cundinamarca_La Calera', 'Cundinamarca_Cota', 'Cundinamarca_Sopó',
       'Cundinamarca_Tocancipá', 'Cundinamarca_Fusagasugá',
       'Cundinamarca_Anapoima'], dtype=object)

In [124]:
for i in df_train:
    if df_train[i].dtypes == "float64":
        df_train[i] = df_train[i].astype('int64')
    print(df_train[i].dtypes)
    #if i == "float":
     #   df_train[i]

int64
object
object
object
object
object
int64
int64
int64
int64
object
int64

In [28]:
df_train[['rooms', 'bedrooms', 'bathrooms']] =  df_train[['rooms', 'bedrooms', 'bathrooms']].astype("int64")

In [36]:
s = (df_train.dtypes == "object")
ob_tr = list(s[s].index)  
ob_tr

['pais',
 'provincia_departamento',
 'ciudad',
 'property_type',
 'operation_type',
 'currency']

In [139]:
encoder = LabelEncoder()
encode = df_train[ob_tr].apply(encoder.fit_transform)
encode

,pais,provincia_departamento,ciudad,property_type,operation_type,currency
0,0,9,227,1,0,0
1,0,9,141,1,0,0
2,1,1,20,0,0,0
3,1,34,34,0,0,0
4,0,9,16,1,0,0
...,...,...,...,...,...,...
25655,1,0,23,0,0,0
25656,0,9,31,1,0,0
25657,0,9,243,1,0,0
25658,0,9,183,1,0,0
25659,0,7,117,1,0,0

In [74]:
X = pd.concat([encode[["pais","provincia_departamento","ciudad"]],
               df_train[["rooms","bedrooms","bathrooms","surface_total"]]],axis =1)
X

,pais,provincia_departamento,ciudad,rooms,bedrooms,bathrooms,surface_total
0,0,9,227,2.0,1.0,1.0,37.0
1,0,9,141,6.0,4.0,4.0,300.0
2,1,1,20,3.0,3.0,3.0,95.0
3,1,34,34,3.0,3.0,1.0,60.0
4,0,9,16,3.0,2.0,1.0,45.0
...,...,...,...,...,...,...,...
25655,1,0,23,3.0,3.0,2.0,61.0
25656,0,9,31,2.0,1.0,1.0,40.0
25657,0,9,243,2.0,1.0,1.0,61.0
25658,0,9,183,3.0,2.0,1.0,53.0
25659,0,7,117,2.0,1.0,1.0,45.0

In [88]:
ln = LinearRegression()

In [76]:
X_train, X_test, y_train, y_test = train_test_split(X,df_train["price"],test_size = .3 )

In [77]:
y_train

16282      37159.0
22650     110102.0
7383      239000.0
20390      89000.0
17048     160000.0
           ...
24324     126617.0
12879     579999.0
275      1500000.0
13845      75000.0
12166     106001.0
Name: price, Length: 17962, dtype: float64

In [90]:
ln.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [79]:
ln.score(X_test, y_test)

0.5858950854490317

In [93]:
y_predict = ln.predict(X_test)
score = metrics.roc_auc_score(y_test, y_predict)

ValueError: multiclass format is not supported